
    body{
        text-align: center;
        background-color: black;
    }

    .Footer{
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;
        color: grey;
        text-align: center
    }

    .alert{
        margin-top: 20px;
    }

    div{
        align-items: center;
    }

    textarea{
        height: 300px;
    }